
<div class="step"
	element="#actions .nav-tabs li:last-child"
	title="Workspaces"
	onclick="$('#actions .nav-tabs [href=\'#generate-actions\']').click()" >
	The interface has two sections, the edit <i class="glyphicon glyphicon-pencil"></i>
	section and the generate <i class="glyphicon glyphicon-random"></i> section.
</div>

<div class="step"
	element="#parts .nav-tabs li:first-child"
	title="Collections"
	onclick="$('#parts .nav-tabs [href=\'#edit-parts\']').click()"
	placement=left >
	Each workspace also has a list of saved items, clicking on the tab here
	or in the bottom panel will also open the corresponding panel,
	that is - each workspace its own set of items.
</div>

<div class="step"
	element="#actions .nav-tabs li:last-child"
	title="Generate"
	onclick="$('#actions .nav-tabs [href=\'#generate-actions\']').click()" >
	The generation panel can be used to automatically generate a neural net
	to match a set of given inputs and correct outputs.
</div>
<div class="step"
	element="#actions .neural_test_cases"
	title="Add Inputs and Outputs"
	onclick="$('#actions .nav-tabs [href=\'#generate-actions\']').click()"
	placement=left >
	Test cases, with a variety of inputs and their expected outputs, can be added
	using the <a class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-plus"></i>Test case</a> button at the bottom of the list.
</div>
<div class="step"
	element="#actions .neural_actions .btn-toolbar"
	title="Actions"
	onclick="$('#actions .nav-tabs [href=\'#generate-actions\']').click()" >
	Use <a class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-play"></i> Run</a> to start generating a net;
	<a class="btn btn-xs btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</a> to save a net with its test cases;
	<a class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-plus"></i> New</a> to create a new net;
	<a class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-remove"></i> Clear</a> to stop the generator and clear the screen.
</div>
<div class="step"
	element=".neural_newtest"
	title="Re-Test"
	onclick="$('#actions .nav-tabs [href=\'#generate-actions\']').click()" >
	Once a net is generated the test is saved in this panel,
	to generate a new net with the same test cases use this button.
	<br>
	<br>
	You can click a test to load the generated net once it is saved in this panel.
</div>
<div class="step"
	element=".neural_name"
	title="Key Data"
	onclick="$('#actions .nav-tabs [href=\'#generate-actions\']').click()" >
	Be sure to name your net and set the number of inputs
	and outputs for your function before running it.
</div>

<div class="step"
	element="#actions .nav-tabs li:first-child"
	title="Editing"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()" >
	Watching a neural net randomly generate itself can be fun,
	but it takes a long time for any calulation that requires more
	than two neurons, it can be quicker to build the net yourself.
</div>

<div class="step"
	element=".neuro_neurons"
	title="Neurons"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
	All the nets are built on seven core neurons,
	Open, Value &amp; Return - Half &amp; Double - Node & Wait.
</div>
<div class="step"
	element=".neuro_neuron[neuron=O]"
	title="Open/Inputs/Arguments"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
	The open neuron is the input to the net, you should have a limited number of these
	- if for no other reason than only so many inputs will be visible on the icon without overlap.
	<br>
	<br>
	Think of the open neurons as the arguments passed to a function.
</div>
<div class="step"
	element=".neuro_neuron[neuron=V]"
	title="Value/Defaults/System Constants"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
	The value neuron is used to set a variable within the net as it starts,
	this is used to set values for the wait neuron among other things.
	<br>
	<br>
	The value's singal is only sent once, at the start of running,
	and cannot be changed externally like the open neuron:
	think of it like an internal system constant.
</div>
<div class="step"
	element=".neuro_neuron[neuron=R]"
	title="Return/Outputs/Results"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
	The return neuron is the output of the net. These, along with the inputs
	will become the input and output connectors of this neuron if it is inserted into another
	net as a sub-neuron or sub-process.
</div>
<div class="step"
	element=".neuro_neuron[neuron=N]"
	title="Node/Empty"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
	The simplest neuron, a node is just a link.
	It can be used to delay a signal by one step,
	though it's better practice to use wait neurons to ensure the signals are
	serendipitous.
</div>
<div class="step"
	element=".neuro_neuron [neuron=H]"
	title="Half/Split"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
	The half neuron splits a signal in half - the system only processes
	integers, so odd numbers are split into unequal halves, with the greater half (or odd half)
	being output on the top, and the lower (or even) half being output on the bottom.
	<br>
<br>
	While creating new nodes you should stick by this pattern, with the bigger inputs and outputs
	appearing above (or before) the lower inputs or outputs.
</div>
<div class="step"
	element=".neuro_neuron[neuron=D]"
	title="Double/Amplify"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
	The double neuron sends the input out of both outputs, esentially amplifying the signal.
</div>
<div class="step"
	element=".neuro_neuron[neuron=W]"
	title="Wait/Accumulator/Trigger"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
<!--
	The wait neuron is by far the most complicated neuron, and it's the closest to a true neuron or synapse.
	It allows the basic signal creating, recieving and carrying neurons to behave like a co-ordinated system.
	<br>
-->
	The wait wuron has four inputs, two outputs, and two values - but it's better to consider it in two halves.
	The top half is the accumulator
	and the bottom half is the trigger.
	<br>
	<br>
	The outermost inputs set each of the values - 
	the first input (top) sets the accumulator value (top), and the last input (bottom) sets the trigger value (bottom).
	<br>
	<br>
	The second input, or second from top, adds the input value to the accumulator value (top),
	incrementing the value by the signal.
	<br>
	<br>
	The third input, or second to bottom, is the trigger. If the signal sent to this input
	is equal to the trigger value (bottom) then the accumulator value (top)
	will be sent out of the first output (top). If it's not euqal, the failed trigger signal will be sent
	out of the bottom output.
	<br>
	
</div>
<div class="step"
	element="#edit-parts"
	title="Parts"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()"
	placement=left >
	There are some pre-made nets covering basic mathematical algorithms.
	<br>
	Click the name to open the net for editing, 
	click the <a class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
	to insert the net as a node, and double-click the  <a class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
	to delete it.
</div>
<div class="step"
	element="#actions .neuro_actions .btn-toolbar"
	title="Actions"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()" >
	Use <a class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-play"></i> Run</a> to run the net;
	<a class="btn btn-xs btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</a> to save a net and use it as a neuron;
	<a class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-plus"></i> New</a> to create a new net;
	<a class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-remove"></i> Clear</a> to stop the net and clear the screen.
</div>
<div class="step"
	element="#neuroN"
	title="Name it"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()" >
	Remember to name your net before saving it.
</div>
<div class="step"
	element="#neuroI"
	title="Make an icon"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()" >
	Use a text based, comma separated system to describe a basic icon eg:
	<br>
	<code>text hi, small line v, big line d1 top left</code>
	Options are, in any order:
	<br>
	<code>
text|line|circle
<br>
big|medium|small (default:medium)
<br>
top|bottom|center (default:center)
<br>
left|right|center (default:center)
<br>
h|v|d1|d2 (default:h)</code>
<br>
Where h and v are horizontal &amp; vertical,
d1 and d2 are diagonals 1 &amp; 2
<br>1: top left - bottom right;
<br>2: top right - bottom left.
</div>
<div class="step"
	element="#neuroD"
	title="Change speed"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click()" >
	Set the run delay, increase this to slow down the net so you can see it running.
</div>
<div class="step"
	element="#neuroL"
	title="Set limits"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click();
			$('.neuro_values').hide()" >
	Set the run limit to allow a bigger net to execute, or to stop an out of controll
	net before it can get too far.
</div>

<div class="step"
	element=".neuro_values"
	title="Set values"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click();
			$('.neuro_values').show()" >
	Clicking an open or value node will bring up this input,
	use it to set the inital value.
</div>

<div class="step"
	element=".neuro_canvas"
	title="The canvas"
	onclick="$('#actions .nav-tabs [href=\'#edit-actions\']').click();
			$('.neuro_values').hide()" >
	Adding a node will make it appear randomly on the canvas,
	drag it to move it, double click it to delete it, and click
	the end of an input to match it up with an output.
	<br>
	<br>
	An input can have many paths in, but an output will only use the first connected
	path out - to send a signal to two places use a doubling neuron.
</div>
